body{
    background-color: #f5f5f5;
    color: black;
    font-family:Verdana;
}

.top-page {
    width:100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #3e4346;
}

a{
    text-align: center;
    text-decoration: none;
}

a:link, a:visited {
    color:white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: darkgray;
    cursor: pointer;
}

.logo {
    font-family: 'Marck Script', cursive;
    font-size: 65px;
    line-height: 120px;
}

.logo a {
    color: #508fe2;
    width:100%;
    vertical-align: middle;
    font-size:6vw;
}

.navbar {
    width: 100%;
    background-color: #508fe2;
    color: white;
    overflow: auto;
}
  
.navbar a {
    font-size: 17px;
    width: 9%;
}

.unstyled {
    list-style: none;
}

.tile {
    background-color: white;
    border:1px solid #dcdcdc
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.tile div a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a p {
    padding-top: 5px;
}

.tile a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.row{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resize{
    height: 210px;
    width: 210px;
    object-fit: cover;
}

.largebox{
    padding-left: 10%;
    padding-right: 10%;
    height: 450px;
    width: 100%;
    object-fit: contain;
    padding-bottom: 1.5%;
}

.displaybox{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noLink{
    text-decoration: none;
    color: white;
}

.noLink:hover{
    color: white;
    cursor: default;
}

.bottom-page{
    width: 100%;
    margin-bottom: 0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3e4346;
    color:white;
}

.section{
    min-height: 582px;
}

.back-to-top {
    display: none;
}

.icon-bar1, .icon-bar2, .icon-bar3{
    width: 30px;
    height: 2px;
    background-color: #333;
    margin-top: 9px;
    transition: 1s;
}

.change .icon-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: lightgray;
}
  
.change .icon-bar2 {
    background-color: lightgray;
    opacity: 0;
}

.change .icon-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: lightgray;
}

.footerText{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
}

@media screen and (min-width: 780px) {
    .break{
        display:none;
    } 
}

@media screen and (min-width: 2560px) {
    .logo a {
        font-size: 4vw;
    }
}

@media screen and (max-width: 780px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar a {
        width: 15%;
    }
    
    .back-to-top {
        background-color: blue;
        color: red;
        opacity: 0;
        transition: opacity .6s ease-in-out;
        z-index: 999;
        position: fixed;
        right: 20px;
        bottom: 35px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border-radius: 50%;
    }
    
    a.back-to-top {
        font-weight: 1000;
        letter-spacing: 2px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.6;
        padding-left: 7px;
        padding-top: 14px;
    }

    .back-to-top.show {
        opacity: 1;
    }

    .copyright{
        padding: 20px 0 20px 25px;
    }
}

@media screen and (max-width: 600px) {
    .section{
        display:none;
    }
    
    .sticky {
        position: fixed;
        top: 0;
    }
    
    .navbar a {
        display: block;
        width: 100%;
        text-align: left; 
    }

    .mobileimg {
        display:none;
    }

    .logo a {
        font-size: 15vw;
    }

    .tile {
        padding: 0;
        display: inline block;
    }

    li{
        margin-bottom: 14px;
    }

    .displaybox{
        min-width: 250px;
        padding-left: 0;
        padding-right: 0;
    }

    .truncate {
        width: 200px;
    }
    
    .bottom-page {
        flex-direction: column;
        justify-content: space-evenly;
    }
}